# **Data Analytics with Pandas**:
>![py pandas images.png]()

# **Python Overview**

You might think that Python is only for developers and people with computer science degrees. However, Python is great for beginners, even those with little coding experience because it's free, open source, and runs on any platform. The Python packages documentation is great and after an [Guvi Python](https://www.guvi.in/courses-video?course=pythonEng#) you have a good foundation to build on.

Python is a general purpose and high-level programming language that is used for more than working with data. For example, it's good for developing desktop GUI applications, websites, and web applications. However, this notebook focuses on the data and only goes through getting started with data.[Python Referance](https://www.python.org)

# **Introduction to pandas**
![pandas im.png]()

Pandas is an open source Python Library that provides high-performance data manipulation and analysis. With the combination of Python and pandas, you can accomplish five typical steps in the processing and analysis of data, regardless of the origin of data: load, prepare, manipulate, model, and analyze.

There are many options when working with the data using pandas. The following list shows some of the things that can be done using pandas.




*   Cleaning data by removing or replacing missing values
*   Converting data formats
*   Sorting rows
*   Deleting or adding rows and columns
*   Merging or joining DataFrames
*   Summarizing data by pivoting or reshaping
*   Creating visualizations

It is built on top of the NumPy library, and provides a number of data structures and operations for manipulating numerical data and time series.

# **Panda Series**

## Querying

Querying is the process of selecting data from a Pandas Series based on a condition. For example, you could query a Series to find all the values that are greater than 10.

Here is the simple Example Querying

In [ ]:
# Before we start we need to import the Pandas Library install using pip or conda
import pandas as pd

# Create a Series
s = pd.Series([1, 1.4, 1.6, 2, 3, 4, 5, 6,7])

# Query the Series to find all the values that are greater than 1.5
greater_than = s[s > 1.5]

# Print the results
print(greater_than)

# This code will create a Series with the values 1.6,2,3,4,5,6,7

2    1.6
3    2.0
4    3.0
5    4.0
6    5.0
7    6.0
8    7.0
dtype: float64

## Indexing

Indexing is the process of accessing a specific element or range of elements from a Pandas Series. For example, you could index a Series to get the value at the index 0. zero is the start index we can give the start, end and step
S[start:end:step]

In [ ]:
import pandas as pd

# Create a Series
s = pd.Series([1, 2, 3, 4, 5])

# Index the Series to get the value at the index 0
first_value = s[0]   # also use s[0:1]

# Print the results
print(first_value)

1

Here are some of the most common ways to query and index Pandas Series:

*   Using the loc attribute: The loc attribute allows you to select data from a Series by label. For example, to select the value at the index 0, you would use s.loc[0].
*   Using the iloc attribute: The iloc attribute allows you to select data from a Series by integer position. For example, to select the value at the position 0, you would use s.iloc[0].

In [ ]:
import pandas as pd

# Create a Series
s = pd.Series([1, 2, 3, 4, 5], index=["a", "b", "c", "d", "e"])

# Select the value at the index "a" using loc
a_value = s.loc["a"]

# Select the value at the position 0 using iloc
first_value = s.iloc[1]

# Print the results
print(a_value, first_value)

1 2

In [ ]:
# Select the values at the labels "b" and "c" using loc
b_c_values = s.loc[["b", "c"]]

# Select the values at the positions 1 and 2 using iloc
second_third_values = s.iloc[1:3]

# Print the results
print(b_c_values, second_third_values)

b    2
c    3
dtype: int64 b    2
c    3
dtype: int64

# **Pandas DataFrame**

A pandas DataFrame is a two-dimensional, tabular data structure in Python, provided by the pandas library. It organizes data in rows and columns. Each column in a DataFrame represents a different variable or feature, while each row corresponds to an individual observation or record.

In [ ]:
# Create a DataFrame
df = pd.DataFrame({
    "Name": ["John Doe", "Jane Doe", "John Smith", "Jane Smith"],
    "Age": [30, 25, 40, 35],
    "City": ["New York", "Los Angeles", "Chicago", "San Francisco"]
})
df

         Name  Age           City
0    John Doe   30       New York
1    Jane Doe   25    Los Angeles
2  John Smith   40        Chicago
3  Jane Smith   35  San Francisco

In [ ]:
# Select all rows where the age is greater than 35
df = df[df["Age"] > 35]

# Select the name and city columns
df = df[["Name", "City"]]

# Print the DataFrame
print(df)

         Name           City
2    Jane Doe    Los Angeles
4  Jane Smith  San Francisco

# **Slicing Technique**

Just need to write


1.   Slice one column
The syntax of slicing one column is very straightforward — dataframe[‘column name’]. For example, if we want to slice column city
2.   Slice continuous columns
df[["name","city"]]

In [ ]:
# Create a DataFrame
df = pd.DataFrame({
    "Name": ["John Doe", "Jane Doe", "John Smith", "Jane Smith"],
    "Age": [30, 25, 40, 35],
    "City": ["New York", "Los Angeles", "Chicago", "San Francisco"]
})


df

         Name  Age           City
0    John Doe   30       New York
1    Jane Doe   25    Los Angeles
2  John Smith   40        Chicago
3  Jane Smith   35  San Francisco

In [ ]:
c = df["Name"]
c

0      John Doe
1      Jane Doe
2    John Smith
3    Jane Smith
Name: Name, dtype: object

In [ ]:
df.iloc[:,0:1]  # df.iloc[rows(start:end),columns(Start:end)]

         Name
0    John Doe
1    Jane Doe
2  John Smith
3  Jane Smith

In [ ]:
df.iloc[[2]]   #It locates at row 3 but the index for row 3 in Python is 2.

         Name  Age     City
2  John Smith   40  Chicago

# **Merging DataFrame**

Merging DataFrames in Pandas can be done using the merge() method. The merge() method takes two DataFrames as input and merges them based on the **common columns**. The merge() method returns a new DataFrame that contains the merged data.


*   Inner Merge
*   Left Merge
*   Right Merge
*   Outer Merge

In [ ]:
# Create two DataFrames
df1 = pd.DataFrame({
    "Name": ["John Doe", "Jane Doe", "John Smith", "Jane Smith"],
    "Age": [30, 25, 40, 35],
    "City": ["New York", "Los Angeles", "Chicago", "San Francisco"]
})

df2 = pd.DataFrame({
    "Name": ["John Doe", "Jane Doe", "John Smith", "Jane Smith"],
    "Salary": [100000, 80000, 120000, 90000],
    "State": ["NY", "CA", "IL", "CA"]})
#syntax df.merge(data,on="column_Name",how = "left~Right~inner~outer")

In [ ]:
innerr = df1.merge(df2, on="Name", how="inner")  #inner Merge
innerr

         Name  Age           City  Salary State
0    John Doe   30       New York  100000    NY
1    Jane Doe   25    Los Angeles   80000    CA
2  John Smith   40        Chicago  120000    IL
3  Jane Smith   35  San Francisco   90000    CA

In [ ]:
left = df1.merge(df2, on="Name", how="left")
left

         Name  Age           City  Salary State
0    John Doe   30       New York  100000    NY
1    Jane Doe   25    Los Angeles   80000    CA
2  John Smith   40        Chicago  120000    IL
3  Jane Smith   35  San Francisco   90000    CA

In [ ]:
right = df1.merge(df2, on="Name", how="right")
right

         Name  Age           City  Salary State
0    John Doe   30       New York  100000    NY
1    Jane Doe   25    Los Angeles   80000    CA
2  John Smith   40        Chicago  120000    IL
3  Jane Smith   35  San Francisco   90000    CA

In [ ]:
outer = df1.merge(df2, on="Name", how="outer")
outer

         Name  Age           City  Salary State
0    John Doe   30       New York  100000    NY
1    Jane Doe   25    Los Angeles   80000    CA
2  John Smith   40        Chicago  120000    IL
3  Jane Smith   35  San Francisco   90000    CA

# **Groupby**

The groupby() operation in Pandas is used to split the DataFrame into groups based on the values in a particular column. The groupby() operation can then be used to perform operations on the groups, such as aggregations.

In [ ]:
#Syntax
df.groupby(by=column_name)

In [ ]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    "Name": ["John Doe", "Jane Doe", "John Smith", "Jane Smith"],
    "Age": [30, 25, 40, 35],
    "City": ["New York", "Los Angeles", "Chicago", "San Francisco"]
})

In [ ]:
# Group the DataFrame by the "City" column
grouped_df = df.groupby("City")

# Print the grouped DataFrame
print(grouped_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x78faad35af20>

The groupby() operation has created a new DataFrame with the City column as the index. The values in the DataFrame are the number of rows in each group.

The groupby() operation can also be used to perform aggregations on the groups. For example, the following code calculates the average age for each city:

In [ ]:
grouped_df = df.groupby("City")["Age"].mean()

# Print the grouped DataFrame
print(grouped_df)

City
Chicago          40.0
Los Angeles      25.0
New York         30.0
San Francisco    35.0
Name: Age, dtype: float64

In [ ]:
grouped_df = df.groupby("City")["Age"].sum()

# Print the grouped DataFrame
print(grouped_df)

City
Chicago          40
Los Angeles      25
New York         30
San Francisco    35
Name: Age, dtype: int64

# **Pivot table**

 Pivot table in Pandas is a data summarization tool that allows you to analyze data by pivoting it on one or more columns. This means that you can summarize the data by grouping it by the values in one or more columns, and then calculate summary statistics for each group.


*   **syntax:**
*    **df.pivot_table(values=column_name, index=column_name, aggfunc=function)**

In [ ]:
import pandas as pd
import numpy as np

# Create a DataFrame
df = pd.DataFrame({
    "Name": ["John Doe", "Jane Doe", "John Smith", "Jane Smith"],
    "Age": [30, 25, 40, 35],
    "City": ["New York", "Los Angeles", "Chicago", "San Francisco"]
})

# Create a pivot table by city
pivot_table = df.pivot_table(values="Age", index="City")

# Print the pivot table
print(pivot_table)

               Age
City
Chicago         40
Los Angeles     25
New York        30
San Francisco   35



*   The pivot table has created a new DataFrame with the City column as the index. The values in the DataFrame are the average age for each city.
*   The pivot_table() function is a powerful tool for summarizing data in Pandas. It is a very versatile function that can be used to perform a variety of tasks.

# **Date and Time Functionality**


Pandas has a number of date/time functionality that can be used to work with dates and times in DataFrames.

Some of the most common date/time functionality in Pandas includes:

*   Converting strings to datetime objects: Pandas can be used to convert strings that represent dates and times to datetime objects. This can be done using the to_datetime() function.
*   Extracting date and time components: Pandas can be used to extract the date and time components from datetime objects. This can be done using the dt attribute of datetime objects.Refer [Date and Time](https://pandas.pydata.org/docs/user_guide/timeseries.html)

In [ ]:
import pandas as pd

# Create a string that represents a date
date_str = "2023-03-08"

# Convert the string to a datetime object
date = pd.to_datetime(date_str)

# Print the datetime object
print(date)

2023-03-08 00:00:00

In [ ]:
date = pd.to_datetime("2023-03-08")

# Extract the date component
date_only = date.date

# Extract the time component
time_only = date.time

# Print the date and time components
print(date_only)
print(time_only)

<built-in method date of Timestamp object at 0x78faaa54b640>
<built-in method time of Timestamp object at 0x78faaa54b640>

In [ ]:
# Format the date in a different way
formatted_date = date.strftime("%B %d, %Y")

# Print the formatted date
print(formatted_date)

March 08, 2023

In [ ]:
# Create two datetime objects
date_1 = pd.to_datetime("2023-03-08")
date_2 = pd.to_datetime("2023-03-15")

# Calculate the timedelta between the two datetime objects
timedelta = date_2 - date_1

# Print the timedelta
print(timedelta)

7 days 00:00:00

# **Manipulating a DataFrame**

Manipulating a DataFrame in pandas involves performing various operations to modify, filter, add, remove, and transform the data within the DataFrame. Here are some common DataFrame manipulation techniques in pandas:

*   Selecting Columns:

*   Filtering Rows:
*   Adding and Modifying Columns:
*   Grouping and Aggregating Data:
*   Sorting Data:
*   Handling Missing Data:
*   Merging and Concatenating DataFrames:
*   Pivoting and Reshaping DataFrames:

### **Selecting Columns:**

In [ ]:
# Selecting a single column
single_column = df['Column_Name']

# Selecting multiple columns
multiple_columns = df[['Column1', 'Column2']]

In [ ]:
import pandas as pd
# Creating a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago'],
    'Salary': [50000, 60000, 70000, 55000]
}

df = pd.DataFrame(data)

In [ ]:
selected_columns = df[['Name', 'City']]
print("Selected Columns:")
print(selected_columns)
print()

Selected Columns:
      Name           City
0    Alice       New York
1      Bob  San Francisco
2  Charlie    Los Angeles
3    David        Chicago

### **Filtering Rows:**

In [ ]:
# Filtering rows based on a condition
filtered_data = df[df['Age'] > 30]
filtered_data

         Name  Age           City
2  John Smith   40        Chicago
3  Jane Smith   35  San Francisco

### **Adding and Modifying Columns:**

In [ ]:
# Adding a new column
#df['New_Column'] = df['Column1'] + df['Column2']

# Modifying an existing column
df['Age'] = df['Age'] + 1
df

         Name  Age           City
0    John Doe   33       New York
1    Jane Doe   28    Los Angeles
2  John Smith   43        Chicago
3  Jane Smith   38  San Francisco

### **Grouping and Aggregating Data:**

You can group data based on one or more columns and perform aggregate functions on grouped data.

In [ ]:
# Grouping data by a column and calculating the mean of another column
grouped_data = df.groupby('Category')['Value'].mean()

In [ ]:
# Grouping and Aggregating Data
grouped_data = df.groupby('City')['Salary'].mean()
print("Grouped and Aggregated Data:")
print(grouped_data)
print()

Grouped and Aggregated Data:
City
Chicago          55000.0
Los Angeles      70000.0
New York         50000.0
San Francisco    60000.0
Name: Salary, dtype: float64

### **Sorting data**

In [ ]:
# Sorting data by a single column in ascending order
sorted_data = df.sort_values(by='Column_Name')

# Sorting data by multiple columns with different sorting orders
sorted_data = df.sort_values(by=['Column1', 'Column2'], ascending=[True, False])

In [ ]:
# Sorting Data
sorted_data = df.sort_values(by='Age', ascending=False)
print("Sorted Data:")
print(sorted_data)
print()                             # here sorteing the data by values

Sorted Data:
      Name  Age           City  Salary
2  Charlie   35    Los Angeles   70000
1      Bob   30  San Francisco   60000
3    David   28        Chicago   55000
0    Alice   25       New York   50000

### **Handling Missing Data:**

You can handle missing data by dropping rows or filling in missing values.

In [ ]:
# Drop rows with any missing values
df_cleaned = df.dropna()

# Fill missing values with a specific value
df_filled = df.fillna(value=0)

In [ ]:
df.loc[2, 'Salary'] = None
df_filled = df.fillna(value=0)
print("Filled Missing Data:")     #here for df.loc[2] filling value by fillna()
print(df_filled)
print()

Filled Missing Data:
      Name  Age           City   Salary
0    Alice   25       New York  50000.0
1      Bob   30  San Francisco  60000.0
2  Charlie   35    Los Angeles      0.0
3    David   28        Chicago  55000.0

### **Merging and Concatenating DataFrames:**

In [ ]:
# Merging DataFrames based on a common column
merged_df = pd.merge(df1, df2, on='Common_Column')

# Concatenating DataFrames vertically (along rows)
concatenated_df = pd.concat([df1, df2])

In [ ]:
# Merging and Concatenating DataFrames
df2 = pd.DataFrame({
    'Name': ['Eve', 'Frank'],
    'Age': [33, 26],
    'City': ['Miami', 'Seattle'],
    'Salary': [75000, 58000]
})

merged_df = pd.merge(df, df2, on='City', how='outer')
print("Merged DataFrames:")
print(merged_df)
print()

Merged DataFrames:
    Name_x  Age_x           City  Salary_x Name_y  Age_y  Salary_y
0    Alice   25.0       New York   50000.0    NaN    NaN       NaN
1      Bob   30.0  San Francisco   60000.0    NaN    NaN       NaN
2  Charlie   35.0    Los Angeles       NaN    NaN    NaN       NaN
3    David   28.0        Chicago   55000.0    NaN    NaN       NaN
4      NaN    NaN          Miami       NaN    Eve   33.0   75000.0
5      NaN    NaN        Seattle       NaN  Frank   26.0   58000.0

### **Pivoting and Reshaping DataFrames:**

In [ ]:
# Pivot the DataFrame to create a new structure
pivot_table = df.pivot_table(values='Value', index='Category', columns='Month')

# Reshaping the DataFrame using melt
melted_df = pd.melt(df, id_vars=['ID', 'Name'], var_name='Variable', value_name='Value')

In [ ]:
# Pivoting and Reshaping DataFrames
pivot_table = df.pivot_table(values='Salary', index='City', columns='Name')
print("Pivot Table:")
print(pivot_table)
print()

Pivot Table:
Name             Alice      Bob    David
City
Chicago            NaN      NaN  55000.0
New York       50000.0      NaN      NaN
San Francisco      NaN  60000.0      NaN

# **Conclusion**

Pandas is a versatile library that can be used for a variety of data analysis tasks. It is a powerful tool for anyone who needs to work with data in Python.


*   Ease of use: Pandas is a relatively easy library to learn and use. It has a well-documented API and a large community of users who can provide help and support.

*   Powerful functionality: Pandas provides a wide range of functionality for data analysis. It can be used to load, manipulate, visualize, and analyze data.
*   Flexibility: Pandas is a flexible library that can be used for a variety of data analysis tasks. It can be used for both simple and complex data analysis tasks.Also Check the
[User_Guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html#guides)
       
       **Thank you**